.item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
  border-bottom: 1px solid var(--color-text-secondary);
}

.textContainer {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.textContainer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  background-color: var(--color-surface);
}

.taskLink {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.taskLink:hover {
  text-decoration: underline;
  color: inherit;
}

.userTag {
  flex-shrink: 0;
  width: 150px;
  color: var(--color-text-primary);
}

.title {
  font: var(--font-label);
}

.description {
  font: var(--font-body);
}

.checked {
  color: var(--color-text-secondary);
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
