.descContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}

.titleContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 16px;
}

.titleContainer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userContainer {
  display: flex;
}

.title {
  font: var(--font-heading);
  flex: 1;
}

.description {
  font: var(--font-body);
}

.label {
  margin-right: 24px;
  align-self: center;
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
